# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


PORT=8000
MONGODB_URI=mongodb+srv://tapGame22:OVJlv6A1zK40NUo4@cluster0.gfxdn.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET="ojhiguyugioi87gog8g86g87guy"

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
